.header {

    &-desktop {
        .header-top {
            height: 42px;
            background: #F6F6F6;
            display: flex;
            align-items: center;

            &__link {
                font-family: 'Manrope' sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 145%;
                color: #5D6066;
                display: flex;
                align-items: center;
                gap: 11px;
                transition: .6s;

                &:hover {
                    color: #2F323A;
                }
            }

            &__menu {
                gap: 24px;
            }
        }

        .header-middle {
            background: #FFFFFF;
            height: 80px;
            align-items: center;
            display: flex;
            &.fixed{
                position: fixed;
                width: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                background: #fff;
            }

            &__common {
                gap: 16px;
            }

            &__catalog {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 12px 22px;
                width: 144px;
                height: 48px;
                background: #FCEC41;
                transition: .5s;

                &:hover {
                    // background: #2F323A;
                    // color: #FFFFFF;
                    background: #a5a5a5;
                    filter: invert(100%);
                }


            }

            &__form {
                position: relative;
                width: 444px;

                height: 48px;
                display: flex;
                justify-content: space-between;


                &-input {
                    width: 100%;

                    background: #F6F6F6;
                    border: none;
                    border-bottom: 1px solid #D1D1D3;
                    padding: 12px 16px;

                    &::placeholder {
                        font-family: 'Manrope' sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 136%;
                        color: #8B8D92;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                &-btn {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    border: none;
                    background: none;
                    cursor: pointer;
                }

            }

            &__profile {
                display: flex;

                &-icon {
                    width: 82px;
                    height: 48px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: 'Manrope' sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 145%;
                    text-align: center;
                    color: #454950;

                    &:hover {
                        color: #2F323A;
                    }
                }
            }

        }

        .header-bottom {
            height: 44px;
            border: 1px solid #E8E9EA;
            display: flex;
            align-items: center;

            &__link {
                font-family: 'Manrope' sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                color: #454950;
                transition: .6s;

                &:hover {
                    color: #171B24;
                }
            }
        }
    }

    &-mobile {
        display: none;

        .header-top {}
    }
}

@media screen and (max-width: 1024px) {
    .header {
        &-desktop {
            .header-middle {
                &__form {
                    max-width: 248px;
                }
            }

            .header-bottom {
                background: #FFF;
                display: none;
                width: 100%;
                

            }
        }
    }
}

@media screen and (max-width: 450px) {
    .header {
        &-desktop {
            display: none;
        }

        &-mobile {
            display: block;

            .header-top {
                position: fixed;
                left: 0;
                top: 0;
                &__form {
                    position: relative;
                    width: 444px;

                    height: 48px;
                    display: flex;
                    justify-content: space-between;


                    &-input {
                        width: 100%;

                        background: #F6F6F6;
                        border: none;
                        border-bottom: 1px solid #D1D1D3;
                        padding: 12px 16px;

                        &::placeholder {
                            font-family: 'Manrope' sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 136%;
                            color: #8B8D92;
                        }

                        &:focus {
                            outline: none;
                        }
                    }

                }

                .burger-menu {
                    width: 40px;
                    height: 40px;
                    padding: 11px;
                    position: relative;
                    cursor: pointer;
                    border-radius: 3px;
                    &.active{
                        .burger-menu__line{
                            background: none;
                            &::before{
                                width: 100%;
                                top: 0;
                                left: 0;
                                transform: rotate(45deg);
                            }
                            &::after{
                                width: 100%;
                                top: 0;
                                left: 0;
                                transform: rotate(-45deg);
                            }
                        }
                    }

                    &__line {
                        position: absolute;
                        width: 18px;
                        height: 2px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: #000;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 6px;
                            height: 2px;
                            top: -6px;
                            left: 0;
                            background: #000;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 2px;
                            top: 6px;
                            left: 0;
                            background: #000;
                        }
                    }
                }
            }
            .header-bottom{
                position: fixed;
                height: calc(100vh - 97.5px);
                top: 97.5px;
                left: 0;
                width: 100%;
                display: none;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 20px;
                background: #FFF;
                &.active{
                    display: flex;
                }
            }
        }
    }
}